.pagination {
  margin: 1em 0;
  
  .pagination__list {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
      display: inline-block;
      padding: .5em;

      &--active {
        background-color: #000;
        color: #7f7f7f;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
 }
