/* variables */

$body-bg: #222;
$body-color: #7f7f7f;

$table-dark-color: $body-color;
$table-dark-bg: #111;

$input-bg: #000;
$input-color: $body-color;
$input-border-color: $body-color;

$product-title-color: #F8F9FA;
